@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #fcd757; */
  /* background-color: #e2c044; */
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NavBar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 3;
  background-color: whitesmoke;
  margin-bottom: 5px;
}

.navbar a,
a:link {
  color: black;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:active,
.navbar a.current {
  border-bottom: 3px solid rgb(41, 75, 41);
}

/* h1 {
  display: flex;
  justify-content: center; */
/* font-family: "Permanent Marker", cursive; */
/* text-align: center;
  font-size: xx-large;
} */

#mylist {
  display: flex;
  justify-content: flex-end;
}

/* Search page */
form {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
}

#message {
  color: rgba(209, 47, 47, 0.644);
  text-align: center;
}

nav {
  position: sticky;
  top: 0;
}

/* Result page */

#filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

select {
  height: 40px;
}
